



#filterBar {
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
}


.carousel.slide {
  display:inline-block;
  vertical-align:top;
  margin-top: 10px;
  left: 33%;
  border: 2px solid green;
}

.carousel-inner > .carousel-item {
    transition: none;
  }

.carousel-inner > .carousel-item.active {
    transition: none;
  }

.carousel-inner > .carousel-item.active > img {
    width:640px;
    height:360px;
    margin: auto;

  }

.center {
  border: 1px solid black;
  display:inline-block;
  }

.descripcion {
  font-size: 20px;
}

h4 {
  background-color: rgba(0, 0, 0, 0.271);
  display: inline-block;
}

#register {
width: auto;
margin-left: 915px;

}


.nav {
  color: aliceblue !important;
}

.center-img {
  width:640px;
  height:480px;
  margin: 10px;
}